@import "tailwindcss";
/* Add this line below the tailwind import */
@plugin "@tailwindcss/typography"; 


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}